header {
  background-image: linear-gradient(to bottom, #121212 0%, #323232 100%);
  color: white;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;;
  }
}

.terminal {
  border: 1px solid #535353;
  border-radius: 7px;
}

.terminal-header {
  height: 2rem;
  line-height: 2rem;
  text-align: left;
  background-color: #212121;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.terminal-button-group {
  display: inline-block;
  margin: 0 11px;
  z-index: 1030;
}

.terminal-button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.terminal-button.red {
  background-color: #ff5c5c;
}

.terminal-button.yellow {
  background-color: #ffbd4c;
}

.terminal-button.green {
  background-color: #00ca56;
}

.terminal-title {
  position: absolute;
  left: 0;
  right: 0;
}

span.typewriter {
  border-right: .15em solid orange; /* The typwriter cursor */
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.directory-color {
  color: #8dd5df;
}

#btn-return {
  visibility: hidden;
}

#btn-return.show {
  visibility: visible;
}

.w-60 {
  width: 60% !important;
}