body {
  font-family: 'Source Code Pro', monospace;
}

button {
  font-family: Roboto, sans-serif;
}

.highlite-color {
  color: #E31B6D;
}

.point-color {
  color: #1ce492;
}

.font-bigger-1 {
  font-size: 1.2rem;
}

.font-bigger-2 {
  font-size: 1.4rem;
}

.font-smaller-1 {
  font-size: 0.8rem;
}

.cursor-pointer:hover {
  cursor: pointer;
}

div.border-under {
  border-bottom: 3px solid #e31b6d;
}

section.bg-light-gray {
  background-color: #f6f6f6;
}

section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section li {
  padding-left: 1em;
  text-indent: -0.7em;
  word-wrap: break-word;
}

section li::before {
  content: '•';
  padding-right: 0.5rem;
  color: #1ce492;
}

section .active {
  border: 1px dashed #1ce492;
}
